# Specific directories
data/

# Python binaries
*/__pycache__/
__pycache__/
*.pyc


# Dot directories
.*/

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
